# Some basics through examples
Think if pandas as a table of data.\
Like on a document; A table as data (numbers, text, *etc*), and each column has a name.

In [6]:
import pathlib
import pandas as pd

In [9]:
path = pathlib.Path("data").resolve()
files = [*path.iterdir()]
files

[WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_0'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_1'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_10'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_11'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_12'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_13'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_14'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_15'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_16'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_17'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_18'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_19'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_2'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_20'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_21'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_22'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_23'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_24'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_25'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_26'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_27'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_28'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_29'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_3'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_30'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_31'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_32'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_33'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_34'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_35'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_36'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_37'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_38'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_39'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_4'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_40'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_41'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_42'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_43'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_44'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_45'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_46'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_47'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_48'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_49'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_5'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_50'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_51'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_52'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_53'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_54'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_55'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_56'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_57'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_58'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_59'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_6'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_60'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_61'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_62'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_63'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_64'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_65'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_66'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_67'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_68'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_69'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_7'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_70'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_71'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_72'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_73'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_74'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_75'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_76'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_77'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_78'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_79'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_8'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_80'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_81'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_82'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_83'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_84'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_85'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_86'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_87'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_88'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_89'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_9'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_90'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_91'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_92'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_93'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_94'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_95'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_96'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_97'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_98'),
 WindowsPath('C:/Users/krist/Documents/GitHub/pythoncourse/data/data_99')]

In [37]:
df = pd.read_csv(files[0])
df

       a   b   c   d   e   f   g   h   i   j
0     57  53  19  27  59  16  11   7  54  22
1     96   6  74  71  27  47  81  34  99  42
2      6  83  64  21  84  46  11  85  47  76
3     45  80  36  85  20  73  63  74  80  66
4      4  68  68  98  88  30  56  47  50  80
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
9995   4   4  30   8  58  27  22  91  52  11
9996  24  21  97  47  57  50  81  40  63  15
9997  11  45  80  91   9  79  69  90  63  22
9998   4  87  83   1  82  76  72  56  15  54
9999  78  92  80  88  47   4  31  88  46  18

[10000 rows x 10 columns]

In [30]:
df.min()

a    0
b    0
c    0
d    0
e    0
f    0
g    0
h    0
i    0
j    0
dtype: int64

In [38]:
df["foo"] = df.apply(lambda row: row["a"]+row["b"], axis=1)
df

       a   b   c   d   e   f   g   h   i   j  foo
0     57  53  19  27  59  16  11   7  54  22  110
1     96   6  74  71  27  47  81  34  99  42  102
2      6  83  64  21  84  46  11  85  47  76   89
3     45  80  36  85  20  73  63  74  80  66  125
4      4  68  68  98  88  30  56  47  50  80   72
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
9995   4   4  30   8  58  27  22  91  52  11    8
9996  24  21  97  47  57  50  81  40  63  15   45
9997  11  45  80  91   9  79  69  90  63  22   56
9998   4  87  83   1  82  76  72  56  15  54   91
9999  78  92  80  88  47   4  31  88  46  18  170

[10000 rows x 11 columns]

In [39]:
df.drop(columns="foo", inplace=True)
df

       a   b   c   d   e   f   g   h   i   j
0     57  53  19  27  59  16  11   7  54  22
1     96   6  74  71  27  47  81  34  99  42
2      6  83  64  21  84  46  11  85  47  76
3     45  80  36  85  20  73  63  74  80  66
4      4  68  68  98  88  30  56  47  50  80
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
9995   4   4  30   8  58  27  22  91  52  11
9996  24  21  97  47  57  50  81  40  63  15
9997  11  45  80  91   9  79  69  90  63  22
9998   4  87  83   1  82  76  72  56  15  54
9999  78  92  80  88  47   4  31  88  46  18

[10000 rows x 10 columns]

In [29]:
columns = df.columns

df_min = df.groupby(columns[0], as_index=False).min().rename(columns={col:f"min_{col}" for col in columns[1::]})
df_max = df.groupby(columns[0], as_index=False).max().rename(columns={col:f"max_{col}" for col in columns[1::]})
df_avg = df.groupby(columns[0], as_index=False).mean().rename(columns={col:f"avg_{col}" for col in columns[1::]})

df_min.merge(df_max, how="left", on=columns[0]).merge(df_avg, how="left", on=columns[0])

,a,min_b,min_c,min_d,min_e,min_f,min_g,min_h,min_i,min_j,...,max_j,avg_b,avg_c,avg_d,avg_e,avg_f,avg_g,avg_h,avg_i,avg_j
0,0,1,0,1,0,0,0,0,2,1,...,99,50.074074,51.888889,49.046296,49.324074,47.694444,48.824074,53.435185,51.185185,45.324074
1,1,0,0,0,2,1,0,1,0,1,...,99,49.345238,51.011905,48.226190,55.892857,43.773810,49.619048,41.797619,41.964286,48.130952
2,2,0,1,1,1,1,1,0,0,0,...,99,48.509259,51.027778,51.657407,50.518519,44.287037,48.629630,49.046296,49.990741,51.916667
3,3,1,2,0,0,0,0,0,0,0,...,99,52.097826,56.097826,54.489130,51.369565,48.706522,52.206522,49.130435,51.260870,51.130435
4,4,0,1,1,0,1,0,0,0,2,...,99,52.221239,51.433628,52.654867,52.407080,45.681416,50.584071,47.884956,45.389381,50.699115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,0,0,0,0,2,1,1,0,1,...,98,49.917647,45.811765,49.258824,49.317647,52.129412,51.258824,53.011765,50.517647,51.117647
96,96,0,2,0,0,0,0,3,1,1,...,99,52.265957,49.234043,49.148936,46.244681,51.957447,54.074468,51.563830,51.393617,48.648936
97,97,0,0,0,3,0,0,2,0,0,...,99,46.929688,52.726562,44.835938,50.562500,50.164062,46.546875,50.960938,48.914062,48.734375
98,98,1,0,1,0,1,0,0,2,1,...,99,52.238095,50.028571,53.676190,48.971429,47.019048,47.866667,49.676190,52.180952,52.200000
99,99,3,1,2,0,0,1,3,0,1,...,97,52.223404,52.500000,51.521277,45.968085,48.606383,47.553191,53.500000,44.127660,50.638298

In [40]:
df.to_numpy()

array([[57, 53, 19, ...,  7, 54, 22],
       [96,  6, 74, ..., 34, 99, 42],
       [ 6, 83, 64, ..., 85, 47, 76],
       ...,
       [11, 45, 80, ..., 90, 63, 22],
       [ 4, 87, 83, ..., 56, 15, 54],
       [78, 92, 80, ..., 88, 46, 18]], shape=(10000, 10))